<cmp-transactions-table-controls
  (filterTransactions)="filterTransactions.emit($event)">
</cmp-transactions-table-controls>

<main>
  <ng-container *ngIf="loading; else transactionsTable">
    <div class="loading">Loading...</div>
  </ng-container>
</main>

<ng-template #transactionsTable>
  <cmp-transactions-table-row
    *ngFor="let transaction of transactions"
    [transaction]="transaction"
    [currencyConfig]="currencyConfig"
    [merchantLogo]="getMerchantLogo(transaction)"
    [locale]="locale">
  </cmp-transactions-table-row>
</ng-template>
