@import "helpers/variables";

:host {
  width: 100%;
  background-color: $color-surface-primary;
  display: flex;
  flex-direction: column;
  height: 100%;

  main {
    height: 100%;
    padding: $spacing-xs;

    cmp-transactions-table-row + cmp-transactions-table-row {
      border-top: 0;
    }
  }
}
