<div
  *ngIf="label"
  class="input-header-label">

  <span class="input-field-label">
    {{label}}
  </span>
</div>
<div class="input-container" [class.show-clear-button]="allowClear">
  <div *ngIf="isTemplateProvided(iconTemplateName)" class="input-icon">
    <ng-container *ngTemplateOutlet="iconTemplate"></ng-container>
  </div>

  <input type="text"
    #textInput
    aria-label="text-input"
    [disabled]="disabled"
    [attr.maxlength]="maxLength"
    [placeholder]="placeholder"
    (input)="onInput()"
    (blur)="onModelTouched()"/>

  <button
    *ngIf="allowClear"
    type="button"
    (click)="clear()">
    X
  </button>
</div>

<ng-container *ngIf="showError">
  <ng-container *ngTemplateOutlet="errorTemplate"></ng-container>
</ng-container>
