@import "helpers/variables";

:host {
  .transfer-form-desktop {
    display: flex;
  }

  .transfer-form-mobile, .transfer-confirm-form {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(100, 100, 100, 0.5);
    z-index: 100;
  }

  .transfer-confirm-form {
    z-index: 1000;
  }

  .form-container {
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 1);
  }

  @media #{$media-mobile-tablet} {
    .transfer-form-desktop {
      display: none;
    }
  }
}
